<div *ngIf="!gameEnded">
    <div class="preview-buttons">
        <button type="button" class="preview-button preview-button-1" (click)="preview(1)" *ngIf="numberOfRemovableMatches >= 1">1</button>
        <button type="button" class="preview-button preview-button-2" (click)="preview(2)" *ngIf="numberOfRemovableMatches >= 2">2</button>
        <button type="button" class="preview-button preview-button-3" (click)="preview(3)" *ngIf="numberOfRemovableMatches >= 3">3</button>
    </div>
    <br/>
</div>
<button type="button" class="end-turn" (click)="endTurn()" *ngIf="!gameEnded">End turn</button>
<button type="button" class="restart-game" (click)="restartGame()" *ngIf="gameEnded">Restart Game</button>