.header-container h1 {
    margin: 0
}

.rules {
    font-size: 10px;
}

.status-container {
    margin-top: 80px;
    margin-bottom: 50px;
}

.board-container {
    margin-bottom: 50px;
}

.controls-container {
    margin-bottom: 20px;
}
