<div>
  <title>Match game</title>
  <div class="header-container">
    <h1>Match game</h1>
  </div>
  <p class="rules">Play with a friend. Take 1, 2, or 3 matches every turn. If you take the last match, you win.</p>
  <div class="status-container">
    <status></status>
  </div>
  <div class="board-container">
    <board *ngIf="!state.gameEnded"></board>
    <div *ngIf="state.gameEnded">
      <div *ngIf="state.player.id == 0">
        <iframe src="https://giphy.com/embed/l4FGEhHXgExT9UquA" width="480" height="356" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
      </div>
      <div *ngIf="state.player.id == 1">
        <iframe src="https://giphy.com/embed/xT0GqChmT6HaiMwjoA" width="480" height="200" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
  <div>
    <controls></controls>
  </div>
</div>