.header-container h1 {
    margin: 0;
    margin-top: 5%;
}

.rules {
    font-size: 14px;
}

.status-container {
    margin-top: 2%;
}

.board-container {
    margin-top: 7%;
    margin-bottom: 7%;
}
